body {
  display: flex;
  background-color: hsl(47, 88%, 63%);
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0;
  height: 100vh;
}
.preview-card {
  width: 384px;
  height: 522px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 10px 10px;
  padding: 20px;
}

#main-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  display: block;
  object-fit: cover;
}

h3 {
  background-color: hsl(47, 88%, 63%);
  align-items: center;
  padding: 8px 10px;
  display: inline-block;
  border-radius: 4px;
}

.preview-writer {
  display: flex;
  align-items: center;
}

.preview-writer p {
}

.attribution {
  border: 10px;
  margin: 10px;
  padding: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
